# Análise dos Dados do projeto Coral Vivo

## Bibliotecas

In [1]:
import pandas as pd

import os

In [2]:
pd.set_option("display.max_columns", None)

## Conjunto de Dados

### Banco de Dados - Janeiro de 2022

#### Água

In [3]:
bd_jan_2022_agua = pd.read_excel(
    os.path.join('Dados/Banco_de_dados_JAN2022.xlsx'),
    engine = 'openpyxl',
    sheet_name = 'Água',
    usecols = 'A:T',
    header = 3
)

bd_jan_2022_agua.rename(
    columns = {
        'Refratometro': 'Salinidade_Refratometro',
        'Horyba': 'Salinidade_Horyba',
        'mg.L': 'OxigenioDissolvido_mg.L',
        '%': 'OxigenioDissolvido_%'
    }, inplace = True
)

bd_jan_2022_agua.head(10)

C:\Users\User\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Recife,Ano,Mês,Lua,UA,Temperatura (C),Luminosidade (Lux),Salinidade_Refratometro,Salinidade_Horyba,OxigenioDissolvido_mg.L,OxigenioDissolvido_%,pH,NO3,PO4,Clorofila a,TDS,ORP,NTU,Condutividade,Obs
0,ECO,2018,JAN,NOVA,A,26.070,23852.000,40.0,NaN,NaN,NaN,8.33,3.4,0.91,NaN,NaN,NaN,NaN,NaN,NaN
1,ECO,2018,JAN,NOVA,B,NaN,NaN,40.0,NaN,NaN,NaN,8.37,3.4,0.05,NaN,NaN,NaN,NaN,NaN,NaN
2,ECO,2018,JAN,NOVA,C,25.960,30865.000,41.0,NaN,NaN,NaN,8.32,3.6,0.34,NaN,NaN,NaN,NaN,NaN,NaN
3,RFO,2018,JAN,CHEIA,A,26.520,31082.133,37.0,NaN,NaN,NaN,8.19,2.0,0.08,NaN,NaN,NaN,NaN,NaN,NaN
4,RFO,2018,JAN,CHEIA,B,26.310,30661.942,37.0,NaN,NaN,NaN,8.23,2.2,0.15,NaN,NaN,NaN,NaN,NaN,NaN
5,RFO,2018,JAN,CHEIA,C,26.170,28399.111,37.0,NaN,NaN,NaN,8.23,0.7,0.01,NaN,NaN,NaN,NaN,NaN,NaN
6,ARA,2018,FEV,NOVA,A,29.302,26170.780,39.0,NaN,NaN,NaN,8.33,4.3,0.03,NaN,NaN,NaN,NaN,NaN,NaN
7,ARA,2018,FEV,NOVA,B,29.518,19371.950,39.5,NaN,NaN,NaN,8.25,4.2,0.07,NaN,NaN,NaN,NaN,NaN,NaN
8,ARA,2018,FEV,NOVA,C,29.996,31791.140,39.0,NaN,NaN,NaN,8.26,4.6,0.10,NaN,NaN,NaN,NaN,NaN,NaN
9,ECO,2018,FEV,CHEIA,A,27.760,21058.760,40.0,NaN,NaN,NaN,8.39,5.3,0.32,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
bd_jan_2022_agua.describe()

,Ano,Temperatura (C),Luminosidade (Lux),Salinidade_Refratometro,Salinidade_Horyba,OxigenioDissolvido_mg.L,OxigenioDissolvido_%,pH,NO3,PO4,Clorofila a,TDS,ORP,NTU,Condutividade
count,249.000000,245.000000,245.000000,75.00000,72.000000,88.000000,79.000000,128.000000,69.000000,69.000000,0.0,74.000000,74.000000,74.000000,74.000000
mean,2019.445783,27.735180,24569.784943,37.48000,32.463889,8.246477,123.110127,8.271641,3.644058,0.108043,NaN,30.340541,120.027027,2.677027,50.272973
std,1.207367,1.406321,9847.486618,2.59214,3.669144,1.733590,42.727751,0.097414,2.446677,0.121693,NaN,0.686647,27.586960,2.458898,1.455579
min,2018.000000,24.159000,1422.801000,30.00000,3.300000,4.120000,9.300000,8.050000,0.300000,0.000000,NaN,28.700000,69.000000,0.000000,47.000000
25%,2018.000000,26.721000,18061.500000,37.00000,31.975000,7.555000,119.650000,8.197500,1.300000,0.050000,NaN,30.100000,103.500000,0.300000,49.350000
50%,2019.000000,27.658000,23744.662000,38.00000,32.900000,8.535000,134.500000,8.290000,3.400000,0.080000,NaN,30.400000,116.000000,2.400000,50.500000
75%,2021.000000,28.596000,30865.000000,39.00000,33.800000,9.330000,145.800000,8.342500,4.700000,0.120000,NaN,30.800000,136.000000,3.975000,51.400000
max,2022.000000,31.390000,53344.316000,41.00000,34.500000,12.460000,200.400000,8.460000,11.400000,0.910000,NaN,31.300000,196.000000,8.800000,52.200000

In [5]:
bd_jan_2022_agua.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Recife                   249 non-null    object
 1   Ano                      249 non-null    int64
 2   Mês                      249 non-null    object
 3   Lua                      249 non-null    object
 4   UA                       249 non-null    object
 5   Temperatura (C)          245 non-null    float64
 6   Luminosidade (Lux)       245 non-null    float64
 7   Salinidade_Refratometro  75 non-null     float64
 8   Salinidade_Horyba        72 non-null     float64
 9   OxigenioDissolvido_mg.L  88 non-null     float64
 10  OxigenioDissolvido_%     79 non-null     float64
 11  pH                       128 non-null    float64
 12  NO3                      69 non-null     float64
 13  PO4                      69 non-null     float64
 14  Clorofila a              0 non-null      float64
 15  TDS                      74 non-null     float64
 16  ORP                      74 non-null     float64
 17  NTU                      74 non-null     float64
 18  Condutividade            74 non-null     float64
 19  Obs                      13 non-null     object
dtypes: float64(14), int64(1), object(5)
memory usage: 39.0+ KB

#### Cobertura geral

In [6]:
bd_jan_2022_cg = pd.read_excel(
    os.path.join('Dados/Banco_de_dados_JAN2022.xlsx'),
    engine = 'openpyxl',
    sheet_name = 'Cobertura_Geral',
    usecols = 'A:N',
    header = 3
)

bd_jan_2022_cg.drop('Unnamed: 11', axis = 1, inplace = True)

bd_jan_2022_cg.head(10)

C:\Users\User\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Recife,Ano,Mês,Lua,UA,Foto Qd,Cobertura de corais*,Macroalgas *,Alga calcarea *,Branqueamento **,Outras patologias**,N,Descrição
0,ECO,2018,JAN,NOVA,A,N,3,1,2,3,0,NaN,NaN
1,ECO,2018,JAN,NOVA,B,N,3,2,1,1,0,NaN,NaN
2,ECO,2018,JAN,NOVA,C,N,2,3,1,3,0,NaN,NaN
3,RFO,2018,JAN,CHEIA,A,S,3,2,1,3,0,NaN,NaN
4,RFO,2018,JAN,CHEIA,B,S,3,1,1,4,0,NaN,NaN
5,RFO,2018,JAN,CHEIA,C,S,3,1,1,3,0,NaN,NaN
6,ARA,2018,FEV,NOVA,A,S,2,1,1,2,0,NaN,NaN
7,ARA,2018,FEV,NOVA,B,S,2,1,1,3,0,NaN,NaN
8,ARA,2018,FEV,NOVA,C,S,2,1,1,2,0,NaN,NaN
9,ECO,2018,FEV,CHEIA,A,N,2,2,1,4,0,NaN,NaN

Observação:
- '*':                  
    - 1 [0-20%]
    - 2 [21-40%]
    - 3 [41-60%]
    - 4 [61-80%]
    - 5 [81-100%]

- '**':
    - 1 [<5%]
    - 2 [6-10%]
    - 3 [11-20%]
    - 4 [21-40%]
    - 5 [41-60%]
    - 6 [61-80%] 
    - 7 [81-100%]

In [7]:
bd_jan_2022_cg.describe()

,Ano,Cobertura de corais*,Macroalgas *,Alga calcarea *,Branqueamento **,Outras patologias**,N
count,249.000000,249.000000,249.000000,249.000000,249.000000,249.000000,11.000000
mean,2019.445783,1.943775,1.293173,1.389558,1.751004,0.791165,1.727273
std,1.207367,0.528284,0.514305,0.565161,1.704551,0.969579,1.009050
min,2018.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000
25%,2018.000000,2.000000,1.000000,1.000000,0.000000,0.000000,1.000000
50%,2019.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,2021.000000,2.000000,2.000000,2.000000,3.000000,1.000000,2.000000
max,2022.000000,3.000000,3.000000,3.000000,7.000000,4.000000,4.000000

In [8]:
bd_jan_2022_cg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Recife                249 non-null    object
 1   Ano                   249 non-null    int64
 2   Mês                   249 non-null    object
 3   Lua                   249 non-null    object
 4   UA                    249 non-null    object
 5   Foto Qd               249 non-null    object
 6   Cobertura de corais*  249 non-null    int64
 7   Macroalgas *          249 non-null    int64
 8   Alga calcarea *       249 non-null    int64
 9   Branqueamento **      249 non-null    int64
 10  Outras patologias**   249 non-null    int64
 11  N                     11 non-null     float64
 12  Descrição             10 non-null     object
dtypes: float64(1), int64(6), object(6)
memory usage: 25.4+ KB

#### Corais - Número de colônias

In [9]:
bd_jan_2022_corais_ncolonias = pd.read_excel(
    os.path.join('Dados/Banco_de_dados_JAN2022.xlsx'),
    engine = 'openpyxl',
    sheet_name = 'Corais_Numero de colônias',
    usecols = 'A:Z',
    header = 1
)

bd_jan_2022_corais_ncolonias.drop(
    ['Unnamed: 17', 'Unnamed: 21', 'Unnamed: 24'], 
    axis = 1, inplace = True
)

bd_jan_2022_corais_ncolonias.rename(
    columns = {
        'Palythoa caribaeorum': 'Zoantídeo_Palythoa caribaeorum',
        'Zoanthus spp.': 'Zoantídeo_Zoanthus spp.',
        'Millepora alcicornis': 'Hidrocorais_Millepora alcicornis'
    }, inplace = True
)

bd_jan_2022_corais_ncolonias.head(10)

C:\Users\User\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Recife,Ano,Mês,Lua,UA,Agaricia humilis,Favia gravida,Mussismilia leptophylla,Montastrea cavernosa,Mussismilia braziliensis,Mussismilia harttii,Mussismilia hispida,Porites astreoides,Porites branneri,Siderastrea stellata,Scolymia wellsi,Meandrina braziliensis,Muriceopsis sulphurea,Phyllogorgia dilatata,Plexaurella grandiflora,Zoantídeo_Palythoa caribaeorum,Zoantídeo_Zoanthus spp.,Hidrocorais_Millepora alcicornis
0,ECO,2018,JAN,NOVA,A,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,ECO,2018,JAN,NOVA,B,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,ECO,2018,JAN,NOVA,C,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,RFO,2018,JAN,CHEIA,A,5,6,0,0,4,0,0,6,4,33,0,0,9,0,0,0,0,2
4,RFO,2018,JAN,CHEIA,B,5,11,11,0,7,7,3,3,3,17,0,0,8,0,0,0,0,4
5,RFO,2018,JAN,CHEIA,C,8,9,0,0,8,5,10,3,0,42,0,0,4,0,0,0,0,2
6,ARA,2018,FEV,NOVA,A,0,0,0,0,3,11,3,0,5,21,0,0,32,0,0,0,0,18
7,ARA,2018,FEV,NOVA,B,0,1,0,1,0,3,0,0,5,13,0,0,24,9,4,0,0,14
8,ARA,2018,FEV,NOVA,C,0,0,0,0,5,0,0,0,0,6,0,0,9,8,5,0,0,5
9,ECO,2018,FEV,CHEIA,A,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [10]:
bd_jan_2022_corais_ncolonias.describe()

,Ano,Agaricia humilis,Favia gravida,Mussismilia leptophylla,Montastrea cavernosa,Mussismilia braziliensis,Mussismilia harttii,Mussismilia hispida,Porites astreoides,Porites branneri,Siderastrea stellata,Scolymia wellsi,Meandrina braziliensis,Muriceopsis sulphurea,Phyllogorgia dilatata,Plexaurella grandiflora,Zoantídeo_Palythoa caribaeorum,Zoantídeo_Zoanthus spp.,Hidrocorais_Millepora alcicornis
count,249.000000,249.000000,249.000000,249.000000,249.000000,249.000000,249.000000,249.000000,249.000000,249.000000,249.000000,249.000000,249.0,249.000000,249.000000,249.000000,249.000000,249.000000,249.000000
mean,2019.445783,35.714859,35.497992,2.353414,0.108434,3.313253,4.706827,1.216867,4.694779,5.289157,32.827309,0.048193,0.0,11.373494,1.433735,0.899598,0.321285,0.349398,3.465863
std,1.207367,33.958986,35.086773,7.331687,0.311554,3.750036,3.463868,2.209117,4.660577,4.012672,17.678761,0.232636,0.0,12.870989,2.992704,1.591928,0.971981,1.093608,4.306765
min,2018.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2018.000000,3.000000,1.000000,0.000000,0.000000,0.000000,2.000000,0.000000,1.000000,3.000000,18.000000,0.000000,0.0,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2019.000000,28.000000,23.000000,0.000000,0.000000,2.000000,5.000000,0.000000,3.000000,4.000000,33.000000,0.000000,0.0,8.000000,0.000000,0.000000,0.000000,0.000000,2.000000
75%,2021.000000,58.000000,62.000000,0.000000,0.000000,7.000000,7.000000,2.000000,7.000000,7.000000,46.000000,0.000000,0.0,16.000000,0.000000,1.000000,0.000000,0.000000,5.000000
max,2022.000000,122.000000,136.000000,33.000000,1.000000,15.000000,15.000000,10.000000,18.000000,18.000000,79.000000,2.000000,0.0,58.000000,16.000000,7.000000,8.000000,9.000000,24.000000

In [11]:
bd_jan_2022_corais_ncolonias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 23 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Recife                            249 non-null    object
 1   Ano                               249 non-null    int64
 2   Mês                               249 non-null    object
 3   Lua                               249 non-null    object
 4   UA                                249 non-null    object
 5   Agaricia humilis                  249 non-null    int64
 6   Favia gravida                     249 non-null    int64
 7   Mussismilia leptophylla           249 non-null    int64
 8   Montastrea cavernosa              249 non-null    int64
 9   Mussismilia braziliensis          249 non-null    int64
 10  Mussismilia harttii               249 non-null    int64
 11  Mussismilia hispida               249 non-null    int64
 12  Porites astreoides                249 non-null    int64
 13  Porites branneri                  249 non-null    int64
 14  Siderastrea stellata              249 non-null    int64
 15  Scolymia wellsi                   249 non-null    int64
 16  Meandrina braziliensis            249 non-null    int64
 17  Muriceopsis sulphurea             249 non-null    int64
 18  Phyllogorgia dilatata             249 non-null    int64
 19  Plexaurella grandiflora           249 non-null    int64
 20  Zoantídeo_Palythoa caribaeorum    249 non-null    int64
 21  Zoantídeo_Zoanthus spp.           249 non-null    int64
 22  Hidrocorais_Millepora alcicornis  249 non-null    int64
dtypes: int64(19), object(4)
memory usage: 44.9+ KB

#### Corais - Número de recrutas

In [12]:
bd_jan_2022_corais_nrecrutas = pd.read_excel(
    os.path.join('Dados/Banco_de_dados_JAN2022.xlsx'),
    engine = 'openpyxl',
    sheet_name = 'Corais_numero de recrutas',
    usecols = 'A:Z',
    header = 1
)

bd_jan_2022_corais_nrecrutas.drop(
    ['Unnamed: 17', 'Unnamed: 21', 'Unnamed: 24'], 
    axis = 1, inplace = True
)

bd_jan_2022_corais_nrecrutas.rename(
    columns = {
        'Palythoa caribaeorum': 'Zoantídeo_Palythoa caribaeorum',
        'Zoanthus spp.': 'Zoantídeo_Zoanthus spp.',
        'Millepora alcicornis': 'Hidrocorais_Millepora alcicornis'
    }, inplace = True
)

bd_jan_2022_corais_nrecrutas.head(10)

C:\Users\User\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Recife,Ano,Mês,Lua,UA,Agaricia humilis,Favia gravida,Mussismilia leptophylla,Montastrea cavernosa,Mussismilia braziliensis,Mussismilia harttii,Mussismilia hispida,Porites astreoides,Porites branneri,Siderastrea stellata,Meandrina braziliensis,Scolymia wellsi,Muriceopsis sulphurea,Phyllogorgia dilatata,Plexaurella grandiflora,Zoantídeo_Palythoa caribaeorum,Zoantídeo_Zoanthus spp.,Hidrocorais_Millepora alcicornis
0,ECO,2018,JAN,NOVA,A,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,ECO,2018,JAN,NOVA,B,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,ECO,2018,JAN,NOVA,C,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,RFO,2018,JAN,CHEIA,A,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,RFO,2018,JAN,CHEIA,B,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,RFO,2018,JAN,CHEIA,C,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,ARA,2018,FEV,NOVA,A,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,ARA,2018,FEV,NOVA,B,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,ARA,2018,FEV,NOVA,C,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,ECO,2018,FEV,CHEIA,A,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [13]:
bd_jan_2022_corais_nrecrutas.describe()

,Ano,Agaricia humilis,Favia gravida,Mussismilia leptophylla,Montastrea cavernosa,Mussismilia braziliensis,Mussismilia harttii,Mussismilia hispida,Porites astreoides,Porites branneri,Siderastrea stellata,Meandrina braziliensis,Scolymia wellsi,Muriceopsis sulphurea,Phyllogorgia dilatata,Plexaurella grandiflora,Zoantídeo_Palythoa caribaeorum,Zoantídeo_Zoanthus spp.,Hidrocorais_Millepora alcicornis
count,249.000000,249.000000,249.000000,249.000000,249.0,249.000000,249.000000,249.000000,249.000000,249.000000,249.000000,249.000000,249.000000,249.000000,249.000000,249.000000,249.0,249.000000,249.000000
mean,2019.433735,19.208835,27.373494,0.040161,0.0,0.216867,0.032129,0.044177,0.068273,0.606426,11.200803,0.016064,0.040161,1.305221,0.048193,0.072289,0.0,0.028112,0.080321
std,1.216746,20.205311,29.696466,0.456134,0.0,0.730359,0.296097,0.314399,0.457198,1.962789,9.533464,0.125976,0.216258,3.253288,0.367103,0.405103,0.0,0.340796,0.423091
min,2018.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
25%,2018.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
50%,2019.000000,13.000000,19.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
75%,2021.000000,32.000000,41.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
max,2022.000000,96.000000,113.000000,6.000000,0.0,5.000000,4.000000,3.000000,5.000000,14.000000,40.000000,1.000000,2.000000,17.000000,4.000000,4.000000,0.0,5.000000,5.000000

In [14]:
bd_jan_2022_corais_nrecrutas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 23 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Recife                            249 non-null    object
 1   Ano                               249 non-null    int64
 2   Mês                               249 non-null    object
 3   Lua                               249 non-null    object
 4   UA                                249 non-null    object
 5   Agaricia humilis                  249 non-null    int64
 6   Favia gravida                     249 non-null    int64
 7   Mussismilia leptophylla           249 non-null    int64
 8   Montastrea cavernosa              249 non-null    int64
 9   Mussismilia braziliensis          249 non-null    int64
 10  Mussismilia harttii               249 non-null    int64
 11  Mussismilia hispida               249 non-null    int64
 12  Porites astreoides                249 non-null    int64
 13  Porites branneri                  249 non-null    int64
 14  Siderastrea stellata              249 non-null    int64
 15  Meandrina braziliensis            249 non-null    int64
 16  Scolymia wellsi                   249 non-null    int64
 17  Muriceopsis sulphurea             249 non-null    int64
 18  Phyllogorgia dilatata             249 non-null    int64
 19  Plexaurella grandiflora           249 non-null    int64
 20  Zoantídeo_Palythoa caribaeorum    249 non-null    int64
 21  Zoantídeo_Zoanthus spp.           249 non-null    int64
 22  Hidrocorais_Millepora alcicornis  249 non-null    int64
dtypes: int64(19), object(4)
memory usage: 44.9+ KB

#### Corais - Branqueamento (%)

In [15]:
bd_jan_2022_corais_branqueamento = pd.read_excel(
    os.path.join('Dados/Banco_de_dados_JAN2022.xlsx'),
    engine = 'openpyxl',
    sheet_name = 'Corais_branqueamento (%)',
    usecols = 'A:X',
    header = 2
)

bd_jan_2022_corais_branqueamento.drop(
    ['Unnamed: 15', 'Unnamed: 19', 'Unnamed: 22'], 
    axis = 1, inplace = True
)

bd_jan_2022_corais_branqueamento.rename(
    columns = {
        'Palythoa caribaeorum': 'Zoantídeo_Palythoa caribaeorum',
        'Zoanthus spp.': 'Zoantídeo_Zoanthus spp.',
        'Millepora alcicornis': 'Hidrocorais_Millepora alcicornis'
    }, inplace = True
)

bd_jan_2022_corais_branqueamento.head(10)

C:\Users\User\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Recife,Ano,Mês,Lua,UA,Agaricia humilis,Favia gravida,Mussismilia leptophylla,Montastrea cavernosa,Mussismilia braziliensis,Mussismilia harttii,Mussismilia hispida,Porites astreoides,Porites branneri,Siderastrea stellata,Muriceopsis sulphurea,Phyllogorgia dilatata,Plexaurella grandiflora,Zoantídeo_Palythoa caribaeorum,Zoantídeo_Zoanthus spp.,Hidrocorais_Millepora alcicornis
0,ECO,2018,JAN,NOVA,A,0,0,0,0,0,3,1,0,0,0,0,0,0,0,0,0
1,ECO,2018,JAN,NOVA,B,0,0,0,0,0,0,0,5,0,0,0,0,0,0,0,0
2,ECO,2018,JAN,NOVA,C,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0
3,RFO,2018,JAN,CHEIA,A,0,0,0,0,0,5,0,0,5,4,0,0,0,0,0,0
4,RFO,2018,JAN,CHEIA,B,0,0,0,0,0,4,0,0,2,2,0,0,0,0,0,0
5,RFO,2018,JAN,CHEIA,C,0,4,0,0,0,2,1,0,0,3,0,0,0,0,0,2
6,ARA,2018,FEV,NOVA,A,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,ARA,2018,FEV,NOVA,B,0,0,0,0,0,3,0,0,0,2,0,0,0,0,0,0
8,ARA,2018,FEV,NOVA,C,0,0,0,0,0,3,0,0,2,0,0,0,0,0,0,0
9,ECO,2018,FEV,CHEIA,A,2,3,0,0,0,5,0,0,0,2,0,0,0,0,0,4

Observação:
- 1 [<5%]
- 2 [6-10%]
- 3 [11-20%]
- 4 [21-40%]
- 5 [41-60%]
- 6 [61-80%]
- 7 [81-100%]

In [16]:
bd_jan_2022_corais_branqueamento.describe()

,Ano,Agaricia humilis,Favia gravida,Mussismilia leptophylla,Montastrea cavernosa,Mussismilia braziliensis,Mussismilia harttii,Mussismilia hispida,Porites astreoides,Porites branneri,Siderastrea stellata,Muriceopsis sulphurea,Phyllogorgia dilatata,Plexaurella grandiflora,Zoantídeo_Palythoa caribaeorum,Zoantídeo_Zoanthus spp.,Hidrocorais_Millepora alcicornis
count,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.0,255.0,255.000000,255.0,255.000000
mean,2019.423529,0.858824,1.027451,0.043137,0.050980,0.415686,1.749020,0.556863,0.411765,0.635294,1.454902,0.501961,0.0,0.0,0.043137,0.0,0.960784
std,1.204092,1.819533,1.847330,0.357845,0.576226,1.452580,2.404013,1.723992,1.309813,1.451421,1.666284,1.457737,0.0,0.0,0.504021,0.0,2.242755
min,2018.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000
25%,2018.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000
50%,2019.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000
75%,2020.000000,0.000000,2.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000
max,2022.000000,7.000000,7.000000,4.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,0.0,0.0,7.000000,0.0,7.000000

In [17]:
bd_jan_2022_corais_branqueamento.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 21 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Recife                            255 non-null    object
 1   Ano                               255 non-null    int64
 2   Mês                               255 non-null    object
 3   Lua                               255 non-null    object
 4   UA                                255 non-null    object
 5   Agaricia humilis                  255 non-null    int64
 6   Favia gravida                     255 non-null    int64
 7   Mussismilia leptophylla           255 non-null    int64
 8   Montastrea cavernosa              255 non-null    int64
 9   Mussismilia braziliensis          255 non-null    int64
 10  Mussismilia harttii               255 non-null    int64
 11  Mussismilia hispida               255 non-null    int64
 12  Porites astreoides                255 non-null    int64
 13  Porites branneri                  255 non-null    int64
 14  Siderastrea stellata              255 non-null    int64
 15  Muriceopsis sulphurea             255 non-null    int64
 16  Phyllogorgia dilatata             255 non-null    int64
 17  Plexaurella grandiflora           255 non-null    int64
 18  Zoantídeo_Palythoa caribaeorum    255 non-null    int64
 19  Zoantídeo_Zoanthus spp.           255 non-null    int64
 20  Hidrocorais_Millepora alcicornis  255 non-null    int64
dtypes: int64(17), object(4)
memory usage: 42.0+ KB

#### Corais - Outras patologias (%)

In [18]:
bd_jan_2022_corais_patalogia = pd.read_excel(
    os.path.join('Dados/Banco_de_dados_JAN2022.xlsx'),
    engine = 'openpyxl',
    sheet_name = 'Corais_outras patologias (%)',
    usecols = 'A:X',
    header = 2
)

bd_jan_2022_corais_patalogia.drop(
    ['Unnamed: 15', 'Unnamed: 19', 'Unnamed: 22'], 
    axis = 1, inplace = True
)

bd_jan_2022_corais_patalogia.rename(
    columns = {
        'Palythoa caribaeorum': 'Zoantídeo_Palythoa caribaeorum',
        'Zoanthus spp.': 'Zoantídeo_Zoanthus spp.',
        'Millepora alcicornis': 'Hidrocorais_Millepora alcicornis'
    }, inplace = True
)

bd_jan_2022_corais_patalogia.head(10)

C:\Users\User\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Recife,Ano,Mês,Lua,UA,Agaricia humilis,Favia gravida,Mussismilia leptophylla,Montastrea cavernosa,Mussismilia braziliensis,Mussismilia harttii,Mussismilia hispida,Porites astreoides,Porites branneri,Siderastrea stellata,Muriceopsis sulphurea,Phyllogorgia dilatata,Plexaurella grandiflora,Zoantídeo_Palythoa caribaeorum,Zoantídeo_Zoanthus spp.,Hidrocorais_Millepora alcicornis
0,ECO,2018,JAN,NOVA,A,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,ECO,2018,JAN,NOVA,B,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,ECO,2018,JAN,NOVA,C,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,RFO,2018,JAN,CHEIA,A,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,RFO,2018,JAN,CHEIA,B,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,RFO,2018,JAN,CHEIA,C,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,ARA,2018,FEV,NOVA,A,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,ARA,2018,FEV,NOVA,B,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,ARA,2018,FEV,NOVA,C,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,ECO,2018,FEV,CHEIA,A,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

Observação:
- 1 [<5%]
- 2 [6-10%]
- 3 [11-20%]
- 4 [21-40%]
- 5 [41-60%]
- 6 [61-80%]
- 7 [81-100%]

In [19]:
bd_jan_2022_corais_patalogia.describe()

,Ano,Agaricia humilis,Favia gravida,Mussismilia leptophylla,Montastrea cavernosa,Mussismilia braziliensis,Mussismilia harttii,Mussismilia hispida,Porites astreoides,Porites branneri,Siderastrea stellata,Muriceopsis sulphurea,Phyllogorgia dilatata,Plexaurella grandiflora,Zoantídeo_Palythoa caribaeorum,Zoantídeo_Zoanthus spp.,Hidrocorais_Millepora alcicornis
count,249.000000,249.000000,249.000000,249.0,249.0,249.000000,249.000000,249.000000,249.000000,249.000000,249.000000,249.000000,249.000000,249.000000,249.0,249.0,249.000000
mean,2019.445783,0.044177,0.032129,0.0,0.0,0.004016,0.044177,0.036145,0.152610,0.048193,0.823293,0.160643,0.096386,0.080321,0.0,0.0,0.068273
std,1.207367,0.383711,0.217602,0.0,0.0,0.063372,0.314399,0.302374,0.684508,0.332523,1.301712,0.739372,0.514651,0.525148,0.0,0.0,0.482932
min,2018.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
25%,2018.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
50%,2019.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
75%,2021.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
max,2022.000000,5.000000,2.000000,0.0,0.0,1.000000,4.000000,3.000000,4.000000,3.000000,6.000000,5.000000,4.000000,4.000000,0.0,0.0,5.000000

In [20]:
bd_jan_2022_corais_patalogia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 21 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Recife                            249 non-null    object
 1   Ano                               249 non-null    int64
 2   Mês                               249 non-null    object
 3   Lua                               249 non-null    object
 4   UA                                249 non-null    object
 5   Agaricia humilis                  249 non-null    int64
 6   Favia gravida                     249 non-null    int64
 7   Mussismilia leptophylla           249 non-null    int64
 8   Montastrea cavernosa              249 non-null    int64
 9   Mussismilia braziliensis          249 non-null    int64
 10  Mussismilia harttii               249 non-null    int64
 11  Mussismilia hispida               249 non-null    int64
 12  Porites astreoides                249 non-null    int64
 13  Porites branneri                  249 non-null    int64
 14  Siderastrea stellata              249 non-null    int64
 15  Muriceopsis sulphurea             249 non-null    int64
 16  Phyllogorgia dilatata             249 non-null    int64
 17  Plexaurella grandiflora           249 non-null    int64
 18  Zoantídeo_Palythoa caribaeorum    249 non-null    int64
 19  Zoantídeo_Zoanthus spp.           249 non-null    int64
 20  Hidrocorais_Millepora alcicornis  249 non-null    int64
dtypes: int64(17), object(4)
memory usage: 41.0+ KB